{namespace vht=TYPO3\Viewhelpertest\ViewHelpers}

<!-- ___VIEWHELPERTEST_EXECUTED___
The above is a token for the Functional Test harness to see whether
the ViewHelper tests were actually executed. DO NOT REMOVE!

-->

<vht:highlight expected="Name: Ingmar"><![CDATA[
	<f:alias map="{name: testVariables.user1.firstName}">Name: {name}</f:alias>
]]></vht:highlight>

<vht:highlight expected="Kurfürst, Sebastian"><![CDATA[
	<f:alias map="{firstName: testVariables.user2.firstName, user: testVariables.user2}">{user.lastName}, {firstName}</f:alias>
]]></vht:highlight>