{namespace vht=F3\Viewhelpertest\ViewHelpers}
<vht:highlight expected="foo\n\n\tbar\n\n\tbaz\n\n\tfoo"><![CDATA[
<f:for each="{0:1, 1:2, 2:3, 3:4}" as="foo">
	<f:cycle values="{0: 'foo', 1: 'bar', 2: 'baz'}" as="cycle">{cycle}</f:cycle>
</f:for>
]]></vht:highlight>

<vht:highlight expected="<ul>\n\t\n\t\t\n\t\t\t<li class=&quot;odd&quot;>blackberry</li>\n\t\t\n\t\n\t\t\n\t\t\t<li class=&quot;even&quot;>orange</li>\n\t\t\n\t\n\t\t\n\t\t\t<li class=&quot;odd&quot;>cranberry</li>\n\t\t\n\t\n\t\t\n\t\t\t<li class=&quot;even&quot;>pear</li>\n\t\t\n\t\n\t\t\n\t\t\t<li class=&quot;odd&quot;>lemon</li>\n\t\t\n\t\n\t\t\n\t\t\t<li class=&quot;even&quot;>grape</li>\n\t\t\n\t\n\t\t\n\t\t\t<li class=&quot;odd&quot;>apple</li>\n\t\t\n\t\n</ul>"><![CDATA[
<ul>
	<f:for each="{testVariables.fruits}" as="fruit">
		<f:cycle values="{0: 'odd', 1: 'even'}" as="zebraClass">
			<li class="{zebraClass}">{fruit.name}</li>
		</f:cycle>
	</f:for>
</ul>
]]></vht:highlight>