{namespace vht=TYPO3\Viewhelpertest\ViewHelpers}
<vht:highlight expected="foo\n\n\tbar\n\n\tbaz\n\n\tfoo"><![CDATA[
<f:for each="{0:1, 1:2, 2:3, 3:4}" as="foo">
	<f:cycle values="{0: 'foo', 1: 'bar', 2: 'baz'}" as="cycle">{cycle}</f:cycle>
</f:for>
]]></vht:highlight>


<vht:expected regex="true">
#^<ul>
\s*	<li class="odd">blackberry</li>
\s*	<li class="even">orange</li>
\s*	<li class="odd">cranberry</li>
\s*	<li class="even">pear</li>
\s*	<li class="odd">lemon</li>
\s*	<li class="even">grape</li>
\s*	<li class="odd">apple</li>
\s*</ul>$#
</vht:expected>
<vht:highlight><![CDATA[
<ul>
	<f:for each="{testVariables.fruits}" as="fruit">
		<f:cycle values="{0: 'odd', 1: 'even'}" as="zebraClass">
			<li class="{zebraClass}">{fruit.name}</li>
		</f:cycle>
	</f:for>
</ul>
]]></vht:highlight>


<vht:expected regex="true">
#^<ul>
\s*<li class="odd">
\s*		<strong>Ingmar Schlecht:</strong>
\s*		<ol>
\s*			<li class="odd">invoice1 \(1980-12-13\)</li>
\s*			<li class="even">invoice3 \(2010-07-04\)</li>
\s*		</ol>
\s*	</li>
\s*	<li class="even">
\s*		<strong>Sebastian Kurfürst:</strong>
\s*		<ol>
\s*			<li class="odd">invoice2 \(2010-07-01\)</li>
\s*		</ol>
\s*	</li>
\s*</ul>$#
</vht:expected>
<vht:highlight><![CDATA[
<ul>
	<f:groupedFor each="{testVariables.invoices}" as="invoices" groupBy="customer" groupKey="customer">
		<f:cycle values="{0: 'odd', 1: 'even'}" as="customerZebraClass">
			<li class="{customerZebraClass}">
				<strong>{customer.firstName} {customer.lastName}:</strong>
				<ol>
					<f:for each="{invoices}" as="invoice" key="invoiceTitle">
						<f:cycle values="{0: 'odd', 1: 'even'}" as="invoiceZebraClass">
							<li class="{invoiceZebraClass}">{invoiceTitle} ({invoice.date -> f:format.date(format: 'Y-m-d')})</li>
						</f:cycle>
					</f:for>
				</ol>
			</li>
		</f:cycle>
	</f:groupedFor>
</ul>
]]></vht:highlight>