{namespace vht=F3\Viewhelpertest\ViewHelpers}
<vht:highlight expected="Some special chars: &amp;quot;&amp;lt;Ääöüß"><![CDATA[
	<f:escape>Some special chars: "<Ääöüß</f:escape>
]]></vht:highlight>

<vht:highlight expected="Some special chars: &amp;quot;&amp;lt;äöü"><![CDATA[
	<f:escape type="entities" encoding="GB2312">Some special chars: "<äöü</f:escape>
]]></vht:highlight>

<vht:highlight expected="someUrl%2Fwith%2Fslashes%20and%20spaces"><![CDATA[
	<f:escape type="url">someUrl/with/slashes and spaces</f:escape>
]]></vht:highlight>