{namespace vht=F3\Viewhelpertest\ViewHelpers}
<vht:highlight expected="1234"><![CDATA[
	<f:for each="{0:1, 1:2, 2:3, 3:4}" as="foo">{foo}</f:for>
]]></vht:highlight>

<vht:highlight expectedRegex="/^<ul>\n\s*<li>fruit1: apple<\/li>\n\s*<li>fruit2: pear<\/li>\n\s*<li>fruit3: banana<\/li>\n\s*<li>fruit4: cherry<\/li>\n\s*<\/ul>$/"><![CDATA[
	<ul>
		<f:for each="{fruit1: 'apple', fruit2: 'pear', fruit3: 'banana', fruit4: 'cherry'}" as="fruit" key="label">
			<li>{label}: {fruit}</li>
		</f:for>
	</ul>
]]></vht:highlight>