{namespace vht=F3\Viewhelpertest\ViewHelpers}
<vht:highlight expected="1234"><![CDATA[
	<f:for each="{0:1, 1:2, 2:3, 3:4}" as="foo">{foo}</f:for>
]]></vht:highlight>

<vht:expected regex="true">
#^<ul>
\s*	<li>fruit1: apple</li>
\s*	<li>fruit2: pear</li>
\s*	<li>fruit3: banana</li>
\s*	<li>fruit4: cherry</li>
\s*</ul>$#
</vht:expected>
<vht:highlight><![CDATA[
<ul>
	<f:for each="{fruit1: 'apple', fruit2: 'pear', fruit3: 'banana', fruit4: 'cherry'}" as="fruit" key="label">
		<li>{label}: {fruit}</li>
	</f:for>
</ul>
]]></vht:highlight>

<vht:expected regex="true">
#^<ul>
\s*	<li>invoice1 \(Schlecht, Ingmar\)</li>
\s*	<li>invoice2 \(Kurfürst, Sebastian\)</li>
\s*	<li>invoice3 \(Schlecht, Ingmar\)</li>
\s*</ul>$#
</vht:expected>
<vht:highlight><![CDATA[
<ul>
	<f:for each="{testVariables.invoices}" as="invoice" key="invoiceTitle">
		<li>{invoiceTitle} ({invoice.customer.lastName}, {invoice.customer.firstName})</li>
	</f:for>
</ul>
]]></vht:highlight>


<vht:expected regex="true">
#^<ul>
\s*	<li>
\s*		Index: 0
\s*		Cycle: 1
\s*		Total: 4
\s*		Even:  no
\s*		Odd:   yes
\s*		First: yes
\s*		Last:  no
\s*	</li>
\s*	<li>
\s*		Index: 1
\s*		Cycle: 2
\s*		Total: 4
\s*		Even:  yes
\s*		Odd:   no
\s*		First: no
\s*		Last:  no
\s*	</li>
\s*	<li>
\s*		Index: 2
\s*		Cycle: 3
\s*		Total: 4
\s*		Even:  no
\s*		Odd:   yes
\s*		First: no
\s*		Last:  no
\s*	</li>
\s*	<li>
\s*		Index: 3
\s*		Cycle: 4
\s*		Total: 4
\s*		Even:  yes
\s*		Odd:   no
\s*		First: no
\s*		Last:  yes
\s*	</li>
\s*</ul>$#
</vht:expected>
<vht:highlight><![CDATA[
<ul>
	<f:for each="{0:1, 1:2, 2:3, 3:4}" as="foo" iteration="fooIterator">
		<li>
			Index: {fooIterator.index}
			Cycle: {fooIterator.cycle}
			Total: {fooIterator.total}
			Even:  {f:if(condition: fooIterator.isEven, then: 'yes', else: 'no')}
			Odd:   {f:if(condition: fooIterator.isOdd, then: 'yes', else: 'no')}
			First: {f:if(condition: fooIterator.isFirst, then: 'yes', else: 'no')}
			Last:  {f:if(condition: fooIterator.isLast, then: 'yes', else: 'no')}
		</li>
	</f:for>
</ul>
]]></vht:highlight>