{namespace vht=TYPO3\Viewhelpertest\ViewHelpers}
<vht:highlight expected="[&amp;quot;a&amp;quot;,&amp;quot;b&amp;quot;,&amp;quot;c&amp;quot;,&amp;quot;d&amp;quot;,&amp;quot;e&amp;quot;]"><![CDATA[
	<f:format.json>{testVariables.array}</f:format.json>
]]></vht:highlight>

<vht:highlight expected="[&amp;quot;a&amp;quot;,&amp;quot;b&amp;quot;,&amp;quot;c&amp;quot;,&amp;quot;d&amp;quot;,&amp;quot;e&amp;quot;]"><![CDATA[
	{testVariables.array -> f:format.json()}
]]></vht:highlight>

<vht:highlight expected="[&amp;quot;bar&amp;quot;,&amp;quot;baz&amp;quot;]"><![CDATA[
	<f:format.json value="{0: 'bar', 1: 'baz'}" />
]]></vht:highlight>

<vht:highlight expected="[&amp;quot;bar&amp;quot;,&amp;quot;baz&amp;quot;]"><![CDATA[
	<f:format.json value="{0: 'bar', 1: 'baz'}" />
]]></vht:highlight>

<vht:highlight expected="[&amp;quot;a&amp;quot;,&amp;quot;b&amp;quot;,&amp;quot;c&amp;quot;,&amp;quot;d&amp;quot;,&amp;quot;e&amp;quot;]"><![CDATA[
	{testVariables.array -> f:format.json()}
]]></vht:highlight>

<vht:highlight expected="{&amp;quot;foo&amp;quot;:&amp;quot;bar&amp;quot;,&amp;quot;bar&amp;quot;:&amp;quot;baz&amp;quot;}"><![CDATA[
	{f:format.json(value: {foo: 'bar', bar: 'baz'})}
]]></vht:highlight>

<vht:highlight expected="{&amp;quot;0&amp;quot;:&amp;quot;bar&amp;quot;,&amp;quot;1&amp;quot;:&amp;quot;baz&amp;quot;}"><![CDATA[
	{f:format.json(value: {0: 'bar', 1: 'baz'}, forceObject: 1)}
]]></vht:highlight>

<vht:highlight expected="&amp;quot;\u003Cscript\u003Ealert(123)\u003C\/script\u003E&amp;quot;"><![CDATA[
	{f:format.json(value: '<script>alert(123)</script>')}
]]></vht:highlight>

<h1>with format.raw:</h1>

<vht:highlight expected="[&quot;a&quot;,&quot;b&quot;,&quot;c&quot;,&quot;d&quot;,&quot;e&quot;]"><![CDATA[
	<f:format.raw>
		<f:format.json>{testVariables.array}</f:format.json>
	</f:format.raw>
]]></vht:highlight>

<vht:highlight expected="[&quot;a&quot;,&quot;b&quot;,&quot;c&quot;,&quot;d&quot;,&quot;e&quot;]"><![CDATA[
	{testVariables.array -> f:format.json() -> f:format.raw()}
]]></vht:highlight>

<vht:highlight expected="[&quot;bar&quot;,&quot;baz&quot;]"><![CDATA[
	<f:format.raw>
		<f:format.json value="{0: 'bar', 1: 'baz'}" />
	</f:format.raw>
]]></vht:highlight>

<vht:highlight expected="[&quot;a&quot;,&quot;b&quot;,&quot;c&quot;,&quot;d&quot;,&quot;e&quot;]"><![CDATA[
	<f:format.raw value="{testVariables.array -> f:format.json()}" />
]]></vht:highlight>

<vht:highlight expected="{&quot;foo&quot;:&quot;bar&quot;,&quot;bar&quot;:&quot;baz&quot;}"><![CDATA[
	<f:format.raw>{f:format.json(value: {foo: 'bar', bar: 'baz'})}</f:format.raw>
]]></vht:highlight>

<vht:highlight expected="{&quot;0&quot;:&quot;bar&quot;,&quot;1&quot;:&quot;baz&quot;}"><![CDATA[
	{f:format.json(value: {0: 'bar', 1: 'baz'}, forceObject: 1) -> f:format.raw()}
]]></vht:highlight>

<vht:highlight expected="&quot;\u003Cscript\u003Ealert(123)\u003C\/script\u003E&quot;"><![CDATA[
	{f:format.json(value: '<script>alert(123)</script>') -> f:format.raw()}
]]></vht:highlight>