{namespace vht=F3\Viewhelpertest\ViewHelpers}
<vht:highlight><![CDATA[
	<f:form.select value="{testVariables.selected}" name="mySelect" options="{testVariables.array}" multiple="multiple" size="5"><select><option>###dummy###</option></select></f:form.select>
]]></vht:highlight>

<vht:highlight><![CDATA[
	<f:form.select value="2" name="mySelect2" options="{testVariables.users}" optionValueField="id" optionLabelField="lastName"><select><option>###dummy###</option></select></f:form.select>
]]></vht:highlight>

<vht:highlight><![CDATA[
	<f:form.select value="{0:1, 1:3}" name="mySelect3" options="{testVariables.users}" multiple="multiple" size="5" optionValueField="id" optionLabelField="firstName">
	[dummy]
</f:form.select>
]]></vht:highlight>

<vht:highlight><![CDATA[
	<f:form.select selectAllByDefault="true" name="mySelect3" options="{testVariables.users}" multiple="multiple" size="5" optionValueField="id" optionLabelField="firstName">
	[dummy]
</f:form.select>
]]></vht:highlight>