{namespace vht=Flowpack\Viewhelpertest\ViewHelpers}
<vht:highlight expected="Some special chars: &quot;<√Ñ√§√∂√º√ü"><![CDATA[
	<f:format.htmlentitiesDecode>Some special chars: "<√Ñ√§√∂√º√ü</f:format.htmlentitiesDecode>
]]></vht:highlight>

<vht:highlight expected="Don't keep the &quot;quotes&quot; by default"><![CDATA[
	<f:format.htmlentitiesDecode>Don't keep the &quot;quotes&quot; by default</f:format.htmlentitiesDecode>
]]></vht:highlight>

<vht:highlight expected="Keep the &amp;quot;quotes&amp;quot;"><![CDATA[
	<f:format.htmlentitiesDecode keepQuotes="1">Keep the &quot;quotes&quot;</f:format.htmlentitiesDecode>
]]></vht:highlight>

<vht:highlight expected="Ernest &lt;b&gt;Escape&lt;/b&gt;"><![CDATA[
	{testVariables.user6 -> f:format.htmlentitiesDecode()}
]]></vht:highlight>

<vht:highlight expectedType="double"><![CDATA[{testVariables.largeNumber -> f:format.htmlentitiesDecode()}]]></vht:highlight>
