{namespace vht=Flowpack\Viewhelpertest\ViewHelpers}
<vht:highlight expected="'3.625e+8'"><![CDATA[
	'<f:format.printf arguments="{number : 362525200}">%.3e</f:format.printf>'
]]></vht:highlight>

<vht:highlight expected="Kasper is great, TYPO3 too. Yes, TYPO3 is great and so is Kasper!"><![CDATA[
	<f:format.printf arguments="{0: 3,1: 'Kasper'}">%2$s is great, TYPO%1$d too. Yes, TYPO%1$d is great and so is %2$s!</f:format.printf>
]]></vht:highlight>

<vht:highlight expected="We love TYPO3"><![CDATA[
	<f:format.printf arguments="{1:'TYPO3'}">We love %1$s</f:format.printf>
]]></vht:highlight>
