<h2><![CDATA[&lt;f:format.printf arguments="{number : 362525200}"&gt;%.3e&lt;/f:format.printf&gt;]]></h2>
<f:format.printf arguments="{number : 362525200}">%.3e</f:format.printf>

<h2><![CDATA[&lt;f:format.printf arguments="{0: 3,1: 'Kasper'}"&gt;%2$s is great, TYPO%1$d too. Yes, TYPO%1$d is great and so is %2$s!&lt;/f:format.printf&gt;]]></h2>
<f:format.printf arguments="{0: 3,1: 'Kasper'}">%2$s is great, TYPO%1$d too. Yes, TYPO%1$d is great and so is %2$s!</f:format.printf>

<h2><![CDATA[&lt;f:format.printf arguments="{1:'TYPO3'}"&gt;We love %1$s&lt;/f:format.printf&gt;]]></h2>
<f:format.printf arguments="{1:'TYPO3'}">We love %1$s</f:format.printf>