{namespace vht=Flowpack\Viewhelpertest\ViewHelpers}
<vht:highlight expected="This is so..."><![CDATA[
	<f:format.crop maxCharacters="10">This is some very long text</f:format.crop>
]]></vht:highlight>

<vht:highlight expected="This is some very [more]"><![CDATA[
	<f:format.crop maxCharacters="17" append=" [more]">This is some very long text</f:format.crop>
]]></vht:highlight>

<vht:expected>
this is some text with newlines
and special characters: äöüß &lt;script&gt;alert(&#039;this should never be executed!!&#039;)&lt;/script&gt;
</vht:expected>
<vht:highlight><![CDATA[
	{testVariables.text -> f:format.crop(maxCharacters: 200)}
]]></vht:highlight>
