<h2><![CDATA[&lt;f:format.date&gt;{testVariables.date}&lt;/f:format.date&gt;]]></h2>
<f:format.date>{testVariables.date}</f:format.date>

<h2><![CDATA[&lt;f:format.date format="H:i"&gt;{testVariables.date}&lt;/f:format.date&gt;]]></h2>
<f:format.date format="H:i">{testVariables.date}</f:format.date>

<h2><![CDATA[&lt;f:format.date format="d.m.Y - H:i:s"&gt;+1 week 2 days 4 hours 2 seconds&lt;/f:format.date&gt;]]></h2>
<f:format.date format="d.m.Y - H:i:s">+1 week 2 days 4 hours 2 seconds</f:format.date>