{namespace vht=TYPO3\Viewhelpertest\ViewHelpers}
<vht:highlight expectedRegex="/^\d\d\d\d-\d\d-\d\d$/"><![CDATA[
	<f:format.date>{testVariables.date}</f:format.date>
]]></vht:highlight>

<vht:highlight expectedRegex="/^\d\d:\d\d$/"><![CDATA[
	<f:format.date format="H:i">{testVariables.date}</f:format.date>
]]></vht:highlight>

<vht:highlight expectedRegex="/^\d\d.\d\d.\d\d\d\d - \d\d:\d\d:\d\d$/"><![CDATA[
	<f:format.date format="d.m.Y - H:i:s">+1 week 2 days 4 hours 2 seconds</f:format.date>
]]></vht:highlight>

<vht:highlight expected="10.07.2010"><![CDATA[
	<f:format.date format="d.m.Y">@1278740610</f:format.date>
]]></vht:highlight>

<vht:highlight expected="13 Dec 1980 00:00:00"><![CDATA[
	<f:format.date format="d.m.Y" forceLocale="en_GB">12/13/1980</f:format.date>
]]></vht:highlight>

<vht:highlight expected="00:00:00"><![CDATA[
	<f:format.date format="d.m.Y" forceLocale="en_GB" localeFormatType="time">12/13/1980</f:format.date>
]]></vht:highlight>