<h1>format.crop</h1>
<h2><![CDATA[&lt;f:format.crop maxCharacters="10"&gt;This is some very long text&lt;/f:format.crop&gt;]]></h2>
<f:format.crop maxCharacters="10">This is some very long text</f:format.crop>
<h2><![CDATA[&lt;f:format.crop maxCharacters="17" append="&amp;nbsp;[more]"&gt;This is some very long text&lt;/f:format.crop&gt;]]></h2>
<f:format.crop maxCharacters="17" append="&nbsp;[more]">This is some very long text</f:format.crop>
<h2><del title="not supported by FLOW3"><![CDATA[&lt;f:format.crop maxCharacters="10" respectWordBoundaries="false"&gt;This is some very long text&lt;/f:format.crop&gt;]]></del></h2>
