{namespace vht=Flowpack\Viewhelpertest\ViewHelpers}
<vht:highlight expected="Some special chars: &amp;quot;&amp;lt;&amp;radic;&amp;Ntilde;&amp;radic;&amp;sect;&amp;radic;&amp;part;&amp;radic;&amp;ordm;&amp;radic;&amp;uuml;"><![CDATA[
	<f:format.htmlentities>Some special chars: "<√Ñ√§√∂√º√ü</f:format.htmlentities>
]]></vht:highlight>

<vht:highlight expected="Don't keep the &amp;quot;quotes&amp;quot; by default"><![CDATA[
	<f:format.htmlentities>Don't keep the "quotes" by default</f:format.htmlentities>
]]></vht:highlight>

<vht:highlight expected="Keep the &quot;quotes&quot;"><![CDATA[
	<f:format.htmlentities keepQuotes="1">Keep the "quotes"</f:format.htmlentities>
]]></vht:highlight>

<vht:highlight expected="This should be encoded again &amp;amp;amp;"><![CDATA[
	<f:format.htmlentities>This should be encoded again &amp;</f:format.htmlentities>
]]></vht:highlight>

<vht:highlight expected="This should not be encoded again &amp;amp;"><![CDATA[
	<f:format.htmlentities doubleEncode="0">This should not be encoded again &amp;</f:format.htmlentities>
]]></vht:highlight>

<vht:highlight expected="Xaver Cross &amp;lt;b&amp;gt;Site-Scripting&amp;lt;/b&amp;gt;"><![CDATA[
	{testVariables.user5 -> f:format.htmlentities()}
]]></vht:highlight>

<vht:highlight expectedType="double"><![CDATA[{testVariables.largeNumber -> f:format.htmlentities()}]]></vht:highlight>
