{namespace vht=Flowpack\Viewhelpertest\ViewHelpers}
<vht:highlight expectedRegex="/^TYPO3     $/"><![CDATA[
	<f:format.padding padLength="10">TYPO3</f:format.padding>
]]></vht:highlight>

<vht:highlight expected="TYPO3-=-=-"><![CDATA[
	<f:format.padding padLength="10" padString="-=">TYPO3</f:format.padding>
]]></vht:highlight>

<vht:highlight expected="-=-=-TYPO3"><![CDATA[
	<f:format.padding padLength="10" padString="-=" padType="left">TYPO3</f:format.padding>
]]></vht:highlight>

<vht:highlight expected="..TYPO3..."><![CDATA[
	<f:format.padding padLength="10" padString="." padType="both">TYPO3</f:format.padding>
]]></vht:highlight>

<vht:highlight expected="Cross &amp;lt;b&amp;gt;Site-Scripting&amp;lt;/b&amp;gt;&amp;lt;script&amp;gt;alert(123)&amp;lt;/script&amp;gt;"><![CDATA[
	{testVariables.user5.lastName -> f:format.padding(padLength: 54, padString: '<script>alert(123)</script>')}
]]></vht:highlight>