{namespace vht=TYPO3\Viewhelpertest\ViewHelpers}
<vht:expected>
	<input type="hidden" name="mySelect" value="" /><select multiple="multiple" size="5" name="mySelect[]"><option value="0">a</option>
<option value="1">b</option>
<option value="2" selected="selected">c</option>
<option value="3" selected="selected">d</option>
<option value="4">e</option>
</select>
</vht:expected>
<vht:highlight><![CDATA[
	<f:form.select value="{testVariables.selected}" name="mySelect" options="{testVariables.array}" multiple="multiple" size="5"><select><option>###dummy###</option></select></f:form.select>
]]></vht:highlight>

<vht:expected>
	<select name="mySelect2"><option value="1">Schlecht</option>
<option value="2">Kurfürst</option>
<option value="3" selected="selected">Lemke</option>
<option value="4">Skårhøj</option>
</select>
</vht:expected>
<vht:highlight><![CDATA[
	<f:form.select value="3" name="mySelect2" options="{testVariables.users}" optionValueField="id" optionLabelField="lastName"><select><option>###dummy###</option></select></f:form.select>
]]></vht:highlight>

<vht:expected>
	<input type="hidden" name="mySelect3" value="" /><select multiple="multiple" size="5" name="mySelect3[]"><option value="1" selected="selected">Ingmar</option>
<option value="2">Sebastian</option>
<option value="3">Robert</option>
<option value="4" selected="selected">Kasper</option>
</select>
</vht:expected>
<vht:highlight><![CDATA[
	<f:form.select value="{0:1, 1:4}" name="mySelect3" options="{testVariables.users}" multiple="multiple" size="5" optionValueField="id" optionLabelField="firstName">
	[dummy]
</f:form.select>
]]></vht:highlight>

<vht:expected>
	<input type="hidden" name="mySelect4[prefix]" value="" /><select multiple="multiple" size="5" name="mySelect4[prefix][]"><option value="1" selected="selected">Ingmar</option>
<option value="2" selected="selected">Sebastian</option>
<option value="3" selected="selected">Robert</option>
<option value="4" selected="selected">Kasper</option>
</select>
</vht:expected>
<vht:highlight><![CDATA[
	<f:form.select selectAllByDefault="true" name="mySelect4[prefix]" options="{testVariables.users}" multiple="multiple" size="5" optionValueField="id" optionLabelField="firstName">
	[dummy]
</f:form.select>
]]></vht:highlight>