{namespace vht=Flowpack\Viewhelpertest\ViewHelpers}
<vht:highlight expected="Some string without tags"><![CDATA[
	<f:format.stripTags>Some string without tags</f:format.stripTags>
]]></vht:highlight>

<vht:highlight expected="Some string without tags"><![CDATA[
	<f:format.stripTags>Some string <strong>with</strong>out tags</f:format.stripTags>
]]></vht:highlight>

<vht:highlight expected="Xaver Cross Site-Scripting"><![CDATA[
	{testVariables.user5 -> f:format.stripTags()}
]]></vht:highlight>

<vht:highlight expectedType="double"><![CDATA[{testVariables.largeNumber -> f:format.stripTags() -> f:format.raw()}]]></vht:highlight>
