{namespace vht=TYPO3\Viewhelpertest\ViewHelpers}
<vht:expected regex="true">
#^<form action="typo3.viewhelpertest/standard/" method="post">
\s*<div style="display: none">
\s*<input type="hidden" name="__referrer\[@package\]" value="TYPO3.Viewhelpertest" />
\s*<input type="hidden" name="__referrer\[@subpackage\]" value="" />
\s*<input type="hidden" name="__referrer\[@controller\]" value="Standard" />
\s*<input type="hidden" name="__referrer\[@action\]" value="index" />
\s*<input type="hidden" name="__referrer\[arguments\]" value="[^"]+" />
\s*<input type="hidden" name="__trustedProperties" value="[^"]+" />
\s*</div>
\s*</form>$#
</vht:expected>
<vht:highlight><![CDATA[
	<f:form />
]]></vht:highlight>


<vht:expected regex="true">
#^<form method="get" action="custom\/relative\/uri">
\s*<div style="display: none">
\s*<input type="hidden" name="__referrer\[@package\]" value="TYPO3.Viewhelpertest" />
\s*<input type="hidden" name="__referrer\[@subpackage\]" value="" />
\s*<input type="hidden" name="__referrer\[@controller\]" value="Standard" />
\s*<input type="hidden" name="__referrer\[@action\]" value="index" />
\s*<input type="hidden" name="__referrer\[arguments\]" value="[^"]+" />
\s*<input type="hidden" name="__trustedProperties" value="[^"]+" />
\s*</div>
\s*</form>$#
</vht:expected>
<vht:highlight><![CDATA[
	<f:form actionUri="custom/relative/uri" method="GET" absolute="true" />
]]></vht:highlight>


<vht:expected regex="true">
/<form enctype="multipart\/form-data" onreset="void\(0\)" onsubmit="void\(0\)" action="https?:\/\/(.*?)" method="post">/
</vht:expected>
<vht:highlight><![CDATA[
	<f:form enctype="multipart/form-data" onsubmit="void(0)" onreset="void(0)" action="someAction" arguments="{arg1: 'val1', arg2: 'val2'}" controller="Some" package="TYPO3.Viewhelpertest" subpackage="SomeSubpackage" section="someSection" format="txt" additionalParams="{param1: 'val1', param2: 'val2'}" absolute="true" addQueryString="true" argumentsToBeExcludedFromQueryString="{0: 'foo'}" />
]]></vht:highlight>


<vht:expected regex="true">
#^<form title="someTitleAttribute" method="get" name="foo" id="bar" action="typo3.viewhelpertest/standard/foo">
\s*<div style="display: none">
\s*<input type="hidden" name="__referrer\[@package\]" value="TYPO3.Viewhelpertest" />
\s*<input type="hidden" name="__referrer\[@subpackage\]" value="" />
\s*<input type="hidden" name="__referrer\[@controller\]" value="Standard" />
\s*<input type="hidden" name="__referrer\[@action\]" value="index" />
\s*<input type="hidden" name="__referrer\[arguments\]" value="[^"]+" />
\s*<input type="hidden" name="__trustedProperties" value="[^"]+" />
\s*</div>
\s*</form>$#
</vht:expected>
<vht:highlight><![CDATA[
	<f:form name="foo" action="foo" id="bar" additionalAttributes="{title: 'someTitleAttribute'}" method="GET" />
]]></vht:highlight>

<h1>form (bound to object)</h1>

<f:form name="someUser" object="{testVariables.user4}">
	<vht:expected><input type="text" name="someUser[firstName]" value="Kasper" /></vht:expected>
	<vht:highlight><![CDATA[
		<f:form.textfield property="firstName" />
	]]></vht:highlight>

	<vht:expected><input type="text" name="someUser[lastName]" value="Skårhøj" /></vht:expected>
	<vht:highlight><![CDATA[
		<f:form.textfield property="lastName" />
	]]></vht:highlight>

	<vht:expected>
		<input type="hidden" name="someUser[newsletter]" value="" /><input type="checkbox" name="someUser[newsletter]" value="1" checked="checked" />
	</vht:expected>
	<vht:highlight><![CDATA[
		<f:form.checkbox property="newsletter" value="1" />
	]]></vht:highlight>

	<vht:expected>
		<input type="hidden" name="someUser[newsletter]" value="" /><input type="checkbox" name="someUser[newsletter]" value="1" />
	</vht:expected>
	<vht:highlight><![CDATA[
		<f:form.checkbox property="newsletter" value="1" checked="false" />
	]]></vht:highlight>

	<p>If two checkboxes have the same name, the hidden field is only rendered once:</p>
	<vht:expected>
		<input type="hidden" name="someUser[newsletter]" value="" /><input type="checkbox" name="someUser[newsletter]" value="1" /><input type="checkbox" name="someUser[newsletter]" value="2" />
	</vht:expected>
	<vht:highlight><![CDATA[
		<f:form.checkbox property="newsletter" value="1" checked="false" /><f:form.checkbox property="newsletter" value="2" checked="false" />
	]]></vht:highlight>

	<vht:expected>
		<label><input type="hidden" name="someUser[interests]" value="" /><input type="checkbox" name="someUser[interests][]" value="TYPO3" checked="checked" /> TYPO3</label><label><input type="checkbox" name="someUser[interests][]" value="Snowboarding" checked="checked" /> Snowboarding</label><label><input type="checkbox" name="someUser[interests][]" value="Commerce" /> Commerce</label>
	</vht:expected>
	<vht:highlight><![CDATA[
		<label><f:form.checkbox property="interests" value="TYPO3" /> TYPO3</label><label><f:form.checkbox property="interests" value="Snowboarding" /> Snowboarding</label><label><f:form.checkbox property="interests" value="Commerce" /> Commerce</label>
	]]></vht:highlight>

	<vht:expected>
		<input type="hidden" name="someUser[nonExistingProperty]" value="" /><input type="checkbox" name="someUser[nonExistingProperty]" value="SomeValue" />
	</vht:expected>
	<vht:highlight><![CDATA[
		<f:form.checkbox property="nonExistingProperty" value="SomeValue" />
	]]></vht:highlight>

	<vht:expected>
		<label><input type="radio" name="someUser[newsletter]" value="1" checked="checked" /> YES</label><label><input type="radio" name="someUser[newsletter]" value="0" /> NO</label>
	</vht:expected>
	<vht:highlight><![CDATA[
		<label><f:form.radio property="newsletter" value="1" /> YES</label><label><f:form.radio property="newsletter" value="0" /> NO</label>
	]]></vht:highlight>
</f:form>

<p>&quot;objectName&quot; argument overrules &quot;name&quot; attribute:</p>
<f:form name="formName" objectName="someUser" object="{testVariables.user4}">
	<vht:highlight expected="<input type=&quot;text&quot; name=&quot;someUser[firstName]&quot; value=&quot;Kasper&quot; />"><![CDATA[
		<f:form.textfield property="firstName" />
	]]></vht:highlight>
</f:form>

<h1>form (fields in partial)</h1>
<p>It is also possible to put the form fields in a partial. This allows for greater re-use between different forms. In the textboxes below, you should find the strings "Ingmar" and "Schlecht":</p>
<vht:expected regex="true">
	/<dt>First name:<\/dt>\n\s*<dd><input type="text" name="user1\[firstName\]" value="Ingmar" \/><\/dd>\n\s*<dt>Last name:<\/dt>\n\s*<dd><input type="text" name="user1\[lastName\]" value="Schlecht" \/><\/dd>/
</vht:expected>
<vht:highlight><![CDATA[
	<f:form name="user1" object="{testVariables.user1}">
	<f:render partial="form._name" />
</f:form>
]]></vht:highlight>