{namespace vht=F3\Viewhelpertest\ViewHelpers}
<vht:highlight expectedRegex="/<form action=&quot;viewhelpertest\/standard\/&quot; method=&quot;post&quot;>\n\s*<input type=&quot;hidden&quot; name=&quot;__referrer\[packageKey\]&quot; value=&quot;Viewhelpertest&quot; \/>.*/"><![CDATA[
	<f:form />
]]></vht:highlight>

<vht:highlight expectedRegex="/<form enctype=&quot;multipart\/form-data&quot; onreset=&quot;void\(0\)&quot; onsubmit=&quot;void\(0\)&quot; action=&quot;https?:\/\/.*&quot; method=&quot;post&quot;>\n\s*<input type=&quot;hidden&quot; name=&quot;__referrer\[packageKey\]&quot; value=&quot;Viewhelpertest&quot; \/>.*/"><![CDATA[
	<f:form enctype="multipart/form-data" onsubmit="void(0)" onreset="void(0)" action="someAction" arguments="{arg1: 'val1', arg2: 'val2'}" controller="someController" package="somePackage" subpackage="someSubpackage" section="someSection" format="txt" additionalParams="{param1: 'val1', param2: 'val2'}" absolute="true" addQueryString="true" argumentsToBeExcludedFromQueryString="{0: 'foo'}" />
]]></vht:highlight>

<vht:highlight expectedRegex="/<form title=&quot;someTitleAttribute&quot; method=&quot;get&quot; name=&quot;foo&quot; id=&quot;bar&quot; action=&quot;viewhelpertest\/standard\/foo&quot;>\n\s*<input type=&quot;hidden&quot; name=&quot;__referrer\[packageKey\]&quot; value=&quot;Viewhelpertest&quot; \/>.*/"><![CDATA[
	<f:form name="foo" action="foo" id="bar" additionalAttributes="{title: 'someTitleAttribute'}" method="GET" />
]]></vht:highlight>

<h1>form (bound to object)</h1>
<f:form name="someUser" object="{testVariables.userDomainObject}">
	<vht:highlight><![CDATA[
		<f:form.textbox property="firstName" />
	]]></vht:highlight>

	<vht:highlight><![CDATA[
		<f:form.textbox property="lastName" />
	]]></vht:highlight>

	<vht:highlight><![CDATA[
		<f:form.checkbox property="newsletter" value="1" />
	]]></vht:highlight>

	<vht:highlight><![CDATA[
		<f:form.checkbox property="newsletter" value="1" checked="false" />
	]]></vht:highlight>

	<vht:highlight><![CDATA[
		<label><f:form.checkbox property="interests" value="TYPO3" /> TYPO3</label><label><f:form.checkbox property="interests" value="Snowboarding" /> Snowboarding</label><label><f:form.checkbox property="interests" value="Commerce" /> Commerce</label>
	]]></vht:highlight>

	<vht:highlight><![CDATA[
		<label><f:form.radio property="newsletter" value="TYPO3" /> YES</label><label><f:form.radio property="newsletter" value="0" /> NO</label>
	]]></vht:highlight>
</f:form>

<h1>form (bound to object)</h1>
<p>It is also possible to put the form fields in a partial. This allows for greater re-use between different forms. In the textboxes below, you should find the strings "Ingmar" and "Schlecht":</p>
<vht:highlight><![CDATA[
	<f:form name="user1" object="{testVariables.user1}">
	<f:render partial="form._name" />
</f:form>
]]></vht:highlight>