{namespace vht=F3\Viewhelpertest\ViewHelpers}
<vht:highlight expectedRegex="/\d\d\d\d-\d\d-\d\d/"><![CDATA[
	<f:format.date>{testVariables.date}</f:format.date>
]]></vht:highlight>

<vht:highlight expectedRegex="/\d\d:\d\d/"><![CDATA[
	<f:format.date format="H:i">{testVariables.date}</f:format.date>
]]></vht:highlight>

<vht:highlight expectedRegex="/\d\d.\d\d.\d\d\d\d - \d\d:\d\d:\d\d/"><![CDATA[
	<f:format.date format="d.m.Y - H:i:s">+1 week 2 days 4 hours 2 seconds</f:format.date>
]]></vht:highlight>

<vht:highlight expected="10.07.2010"><![CDATA[
	<f:format.date format="d.m.Y">@1278740610</f:format.date>
]]></vht:highlight>