{namespace vht=TYPO3\Viewhelpertest\ViewHelpers}
<vht:highlight expected="[&quot;a&quot;,&quot;b&quot;,&quot;c&quot;,&quot;d&quot;,&quot;e&quot;]"><![CDATA[
	<f:format.json>{testVariables.array}</f:format.json>
]]></vht:highlight>

<vht:highlight expected="[&quot;bar&quot;,&quot;baz&quot;]"><![CDATA[
	<f:format.json value="{0: 'bar', 1: 'baz'}" />
]]></vht:highlight>

<vht:highlight expected="[&quot;a&quot;,&quot;b&quot;,&quot;c&quot;,&quot;d&quot;,&quot;e&quot;]"><![CDATA[
	{testVariables.array -> f:format.json()}
]]></vht:highlight>

<vht:highlight expected="{&quot;foo&quot;:&quot;bar&quot;,&quot;bar&quot;:&quot;baz&quot;}"><![CDATA[
	{f:format.json(value: {foo: 'bar', bar: 'baz'})}
]]></vht:highlight>

<vht:highlight expected="{&quot;0&quot;:&quot;bar&quot;,&quot;1&quot;:&quot;baz&quot;}"><![CDATA[
	{f:format.json(value: {0: 'bar', 1: 'baz'}, forceObject: 1)}
]]></vht:highlight>