{namespace vht=Flowpack\Viewhelpertest\ViewHelpers}
<vht:highlight expectedRegex="/^first line<br \/>\n\t\tsecond line<br \/>\n\t$/"><![CDATA[
	<f:format.nl2br>first line
		second line
	</f:format.nl2br>
]]></vht:highlight>

<vht:highlight expectedRegex="/^this is some text with newlines<br \/>\nand special characters\: äöüß \&lt\;script\&gt\;alert\(\&#039;this should never be executed!!\&#039;\)\&lt\;\/script\&gt\;$/"><![CDATA[
	{testVariables.text -> f:format.nl2br()}
]]></vht:highlight>

<vht:highlight expectedRegex="/^first line<br \/><b>second line<\/b>$/"><![CDATA[
	<f:format.nl2br>first line<br /><b>second line</b></f:format.nl2br>
]]></vht:highlight>
