{namespace vht=F3\Viewhelpertest\ViewHelpers}
<vht:highlight expected="<ul>\n\t\n\t\t<li>\n\t\t\t<strong>berry:</strong>\n\t\t\t<ul>\n\t\t\t\t\n\t\t\t\t\t<li>Fruit #0: blackberry</li>\n\t\t\t\t\n\t\t\t\t\t<li>Fruit #2: cranberry</li>\n\t\t\t\t\n\t\t\t\t\t<li>Fruit #5: grape</li>\n\t\t\t\t\n\t\t\t</ul>\n\t\t</li>\n\t\n\t\t<li>\n\t\t\t<strong>citrus fruit:</strong>\n\t\t\t<ul>\n\t\t\t\t\n\t\t\t\t\t<li>Fruit #1: orange</li>\n\t\t\t\t\n\t\t\t\t\t<li>Fruit #4: lemon</li>\n\t\t\t\t\n\t\t\t</ul>\n\t\t</li>\n\t\n\t\t<li>\n\t\t\t<strong>core:</strong>\n\t\t\t<ul>\n\t\t\t\t\n\t\t\t\t\t<li>Fruit #3: pear</li>\n\t\t\t\t\n\t\t\t\t\t<li>Fruit #6: apple</li>\n\t\t\t\t\n\t\t\t</ul>\n\t\t</li>\n\t\n</ul>"><![CDATA[
<ul>
	<f:groupedFor each="{testVariables.fruits}" as="fruitsOfThisType" groupBy="type" groupKey="fruitType">
		<li>
			<strong>{fruitType}:</strong>
			<ul>
				<f:for each="{fruitsOfThisType}" as="fruit" key="index">
					<li>Fruit #{index}: {fruit.name}</li>
				</f:for>
			</ul>
		</li>
	</f:groupedFor>
</ul>
]]></vht:highlight>

<vht:highlight expected="<ul>\n\t\n\t\t<li>\n\t\t\t<strong>Ingmar Schlecht:</strong>\n\t\t\t<ol>\n\t\t\t\t\n\t\t\t\t\t<li>invoice1 (1980-12-13)</li>\n\t\t\t\t\n\t\t\t\t\t<li>invoice3 (2010-07-04)</li>\n\t\t\t\t\n\t\t\t</ol>\n\t\t</li>\n\t\n\t\t<li>\n\t\t\t<strong>Sebastian Kurfürst:</strong>\n\t\t\t<ol>\n\t\t\t\t\n\t\t\t\t\t<li>invoice2 (2010-07-01)</li>\n\t\t\t\t\n\t\t\t</ol>\n\t\t</li>\n\t\n</ul>"><![CDATA[
<ul>
	<f:groupedFor each="{testVariables.invoices}" as="invoices" groupBy="customer" groupKey="customer">
		<li>
			<strong>{customer.firstName} {customer.lastName}:</strong>
			<ol>
				<f:for each="{invoices}" as="invoice" key="invoiceTitle">
					<li>{invoiceTitle} ({invoice.date -> f:format.date(format: 'Y-m-d')})</li>
				</f:for>
			</ol>
		</li>
	</f:groupedFor>
</ul>
]]></vht:highlight>