{namespace vht=F3\Viewhelpertest\ViewHelpers}
<vht:highlight expected="<ul>\n\t\t\n\t\t\t<li>\n\t\t\t\t<strong>berry:</strong>\n\t\t\t\t<ul>\n\t\t\t\t\t\n\t\t\t\t\t\t<li>Fruit #0: blackberry</li>\n\t\t\t\t\t\n\t\t\t\t\t\t<li>Fruit #2: cranberry</li>\n\t\t\t\t\t\n\t\t\t\t\t\t<li>Fruit #5: grape</li>\n\t\t\t\t\t\n\t\t\t\t</ul>\n\t\t\t</li>\n\t\t\n\t\t\t<li>\n\t\t\t\t<strong>citrus fruit:</strong>\n\t\t\t\t<ul>\n\t\t\t\t\t\n\t\t\t\t\t\t<li>Fruit #1: orange</li>\n\t\t\t\t\t\n\t\t\t\t\t\t<li>Fruit #4: lemon</li>\n\t\t\t\t\t\n\t\t\t\t</ul>\n\t\t\t</li>\n\t\t\n\t\t\t<li>\n\t\t\t\t<strong>core:</strong>\n\t\t\t\t<ul>\n\t\t\t\t\t\n\t\t\t\t\t\t<li>Fruit #3: pear</li>\n\t\t\t\t\t\n\t\t\t\t\t\t<li>Fruit #6: apple</li>\n\t\t\t\t\t\n\t\t\t\t</ul>\n\t\t\t</li>\n\t\t\n\t</ul>"><![CDATA[
	<ul>
		<f:groupedFor each="{testVariables.fruits}" as="fruitsOfThisType" groupBy="type" groupKey="fruitType">
			<li>
				<strong>{fruitType}:</strong>
				<ul>
					<f:for each="{fruitsOfThisType}" as="fruit" key="index">
						<li>Fruit #{index}: {fruit.name}</li>
					</f:for>
				</ul>
			</li>
		</f:groupedFor>
	</ul>
]]></vht:highlight>