{namespace vht=F3\Viewhelpertest\ViewHelpers}

<h2>Simple Condition Expressions</h2>

This test part should especially specify edge cases, and cover each case at least once.

<h3>Simple Type - Boolean Values</h3>

If a boolean value is given, that is directly used.

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="{testVariables.boolean.true}">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="{testVariables.boolean.false}">should not be displayed!</f:if>
]]></vht:highlight>

<h3>Simple Type - Strings</h3>

Strings evaluate all to TRUE, except the empty string and "FALSE" (in all camelizations)

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="true">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="anArbitary String containing FaLsE">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition=" FALSE ">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="FALSE">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="FaLsE">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="">should not be displayed!!</f:if>
]]></vht:highlight>

<h3>Simple Type - Integers and Floats</h3>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="{testVariables.number.one}">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="{testVariables.number.onePointOne}">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="{testVariables.number.zero}">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="{testVariables.number.minusOne}">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="{testVariables.number.minusOnePointOne}">should not be displayed!!</f:if>
]]></vht:highlight>

<h3>Simple Type - Integer and Float Strings (should behave exactly like numbers)</h3>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="1">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="1.1">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="0">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="-1">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="-1.1">should not be displayed!!</f:if>
]]></vht:highlight>

<h2>Complex Comparisons</h2>

== comparator
<vht:crossProduct values="{
	IntegerPositive: 0,
	IntegerNegative: 0,
	IntegerZero: 0,
	BooleanTrue: 0,
	BooleanFalse: 0,
	FloatPositive: 0,
	FloatNegative: 0,
	StringFalse: 0,
	StringArbitary: 0,
	Object: 0
	}" expected="
               ;IntegerPositive;IntegerNegative;IntegerZero    ;BooleanTrue    ;BooleanFalse   ;FloatPositive  ;FloatNegative  ;StringFalse    ;StringArbitary ;Object
IntegerPositive;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
IntegerNegative;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
IntegerZero    ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
BooleanTrue    ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
BooleanFalse   ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
FloatPositive  ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
FloatNegative  ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
StringFalse    ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
StringArbitary ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
Object         ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
">

	--> TODO: HOW TO SPECIFY EXPECTED RESULT SET?
</vht:crossProduct>
COMPARATOR: '==', '!=', '%', '>=', '>', '<=', '<'
Value: Integer, Boolean?, ObjectAccess (with same/different types!), ViewHelper, String (with escaping?)
... in all combinations, for each comparator ...

Parser:
Compare ObjectAccess.Integer == Integer
Compare Integer == ObjectAccess.Integer
Compare ObjectAccess.Integer == ObjectAccess.Integer
// same for string

Comparator: ==

Integer
Float
Boolean // Integer
String
ObjectAccess.Object (with circular dependencies // big object!)
... for all other comparators ...


What happens if you do f.e. String >= String? Exception or FALSE?
What happens if you compare incompatible data types? Automatic casting or "FALSE"?? ("False" == FALSE f.e.)

TODO: Formulate and throw exceptions at Invalid comparison strings (more than one comparator, ...)


<vht:highlight expected="Else part!"><![CDATA[
	<f:if condition="{testVariables.number.minusOne} > -1">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
	</f:if>
]]></vht:highlight>

<vht:highlight expected="Else part!"><![CDATA[
	<f:if condition="{testVariables.number.one} < 1">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
	</f:if>
]]></vht:highlight>
<vht:highlight expected="Else part!"><![CDATA[
	<f:if condition="{testVariables.number.minusOne} < -1.1">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
	</f:if>
]]></vht:highlight>

<h2>If / Then / Else Logic</h2>

<h3>No then/else</h3>

<vht:highlight expected="Condition true!"><![CDATA[
	<f:if condition="true">
		Condition true!
	</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="false">
		Condition true!
	</f:if>
]]></vht:highlight>

<h3>then</h3>

<vht:highlight expected="Then part!"><![CDATA[
	<f:if condition="true">
		Some code which should not be shown, as there is a "then" part
		<f:then>
			Then part!
		</f:then>
	</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="false">
		Some code which should not be shown, as there is a "then" part
		<f:then>
			Then part!
		</f:then>
	</f:if>
]]></vht:highlight>

<h3>then/else</h3>

<vht:highlight expected="Then part!"><![CDATA[
	<f:if condition="true">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
		Some code which should not be shown!
	</f:if>
]]></vht:highlight>


<vht:highlight expected="Else part!"><![CDATA[
	<f:if condition="false">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
		Some code which should not be shown!
	</f:if>
]]></vht:highlight>

<h3>else</h3>

<vht:highlight expected=""><![CDATA[
	<f:if condition="true">
		<f:else>
			Else part!
		</f:else>
		Some code which should not be shown!
	</f:if>
]]></vht:highlight>

<vht:highlight expected="Else part!"><![CDATA[
	<f:if condition="false">
		<f:else>
			Else part!
		</f:else>
		Some code which should not be shown!
	</f:if>
]]></vht:highlight>

<h2>Inline Syntax Logic</h2>

<h3>No then/else</h3>

<vht:highlight expected=""><![CDATA[
	{f:if(condition: 'true')}
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	{f:if(condition: 'false')}
]]></vht:highlight>

<h3>Then</h3>

<vht:highlight expected="satisfied condition!"><![CDATA[
	{f:if(condition: 'true', then: 'satisfied condition!')}
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	{f:if(condition: 'false', then: 'satisfied condition!')}
]]></vht:highlight>

<h3>Then/else</h3>

<vht:highlight expected="satisfied condition!"><![CDATA[
	{f:if(condition: 'true', then: 'satisfied condition!', else: 'else part')}
]]></vht:highlight>

<vht:highlight expected="else part"><![CDATA[
	{f:if(condition: 'false', then: 'satisfied condition!', else: 'else part')}
]]></vht:highlight>

<h3>Else</h3>

<vht:highlight expected=""><![CDATA[
	{f:if(condition: 'true', else: 'else part')}
]]></vht:highlight>

<vht:highlight expected="else part"><![CDATA[
	{f:if(condition: 'false', else: 'else part')}
]]></vht:highlight>

<h2>Check overrides of then / else</h2>

Sub-ViewHelpers should be <b>overridden</b> by direct then/else arguments.

<vht:highlight expected="inline then"><![CDATA[
	<f:if condition="true" then="inline then" else="inline else">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
		Some code which should not be shown!
	</f:if>
]]></vht:highlight>

<vht:highlight expected="inline else"><![CDATA[
	<f:if condition="false" then="inline then" else="inline else">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
		Some code which should not be shown!
	</f:if>
]]></vht:highlight>
