{namespace vht=TYPO3\Viewhelpertest\ViewHelpers}

<h2>Simple Condition Expressions</h2>

This test part should especially specify edge cases, and cover each case at least once.

<h3>Simple Type - Boolean Values</h3>

<div class="specification">If a boolean value is given, that is directly used.</div>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="{testVariables.boolean.true}">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="{testVariables.boolean.false}">should not be displayed!</f:if>
]]></vht:highlight>

<h3>Simple Type - Strings</h3>

<div class="specification">Strings evaluate all to TRUE, except the empty string and "FALSE" (in all camelizations)</div>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="true">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="anArbitary String containing FaLsE">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition=" FALSE ">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="FALSE">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="FaLsE">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="">should not be displayed!!</f:if>
]]></vht:highlight>

<h3>Simple Type - Integers and Floats</h3>

<div class="specification">All positive numbers evaluate to TRUE; zero or negative numbers evaluate to FALSE.</div>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="{testVariables.number.one}">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="{testVariables.number.onePointOne}">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="{testVariables.number.zero}">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="{testVariables.number.minusOne}">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="{testVariables.number.minusOnePointOne}">should not be displayed!!</f:if>
]]></vht:highlight>

<h3>Simple Type - Integer and Float Strings (should behave exactly like numbers)</h3>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="1">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="1.1">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="0">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="-1">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="-1.1">should not be displayed!!</f:if>
]]></vht:highlight>

<h3>Simple Type - String literals</h3>

<div class="specification">String literals evaluate correctly in equal and not equals comparison</div>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="'foo' == 'foo'">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="'foo' == 'bar'">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="'foo' != 'bar'">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="'foo' != 'foo'">should not be displayed!!</f:if>
]]></vht:highlight>

<h3>Simple Type - String literals and string variables</h3>

<div class="specification">String literals evaluate correctly with variables holding strings in equal and not equals comparison</div>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="{testVariables.string} == 'foo'">satisfied condition!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="{testVariables.string} == 'bar'">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="{testVariables.string} != 'foo'">should not be displayed!!</f:if>
]]></vht:highlight>

<vht:highlight expected="satisfied condition!"><![CDATA[
	<f:if condition="{testVariables.string} != 'bar'">satisfied condition!</f:if>
]]></vht:highlight>

<h3>Escaping</h3>

<vht:highlight expected="this is some text with newlines
and special characters: äöüß &amp;lt;script&amp;gt;alert('this should never be executed!!')&amp;lt;/script&amp;gt;"><![CDATA[
	<f:if condition="{testVariables.string} == 'foo'">{testVariables.text}</f:if>
]]></vht:highlight>

<vht:highlight expected="&lt;b&gt;HTML&lt;/b&gt;"><![CDATA[
	<f:if condition="{testVariables.string} == 'foo'"><b>HTML</b></f:if>
]]></vht:highlight>

<h2>Complex Comparisons</h2>

TODO: Strings, and Boolean literal values, and NULL literal value

<ul class="specification">
	<li>
		The == and != operators are comparing the Object Identity using === and !==, when one of the two operands are objects.
		Else, == and != are used.
	</li>
	<li>
		For arithmetic comparisons (%, >, >=, <, <=), some special rules apply:
		<ul>
			<li>arrays are only comparable with arrays, else the comparison yields FALSE</li>
			<li>objects are only comparable with objects, else the comparison yields FALSE</li>
			<li>the comparison is FALSE when two types are not comparable according to the table <a href="http://php.net/manual/en/language.operators.comparison.php">Comparison with various types</a>.</li>
		</ul>
	</li>
</ul>

<f:alias map="{values: {
	StringLiteral: {
		literal: '\'foo\'',
		objectAccess: 'testVariables.string'
	},
	IntegerPositive: {
		literal: '1',
		objectAccess: 'testVariables.number.one'
	},
	IntegerNegative: {
		literal: '-1',
		objectAccess: 'testVariables.number.minusOne'
	},
	IntegerZero: {
		literal: '0',
		objectAccess: 'testVariables.number.zero'
	},
	FloatPositive: {
		literal: '1.1',
		objectAccess: 'testVariables.number.onePointOne'
	},
	FloatNegative: {
		literal: '-1.1',
		objectAccess: 'testVariables.number.minusOnePointOne'
	},
	Object: {
		objectAccess: 'testVariables.user1'
	},
	Array: {
		objectAccess: 'testVariables.fruits'
	}
}}">

<h3>== comparator</h3>
<vht:expected>
               ;StringLiteral;IntegerPositive;IntegerNegative;IntegerZero    ;FloatPositive  ;FloatNegative  ;Object         ;Array
StringLiteral  ;   1         ;    0          ;    0          ;    1          ;    0          ;    0          ;    0          ;    0
IntegerPositive;   0         ;    1          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
IntegerNegative;   0         ;    0          ;    1          ;    0          ;    0          ;    0          ;    0          ;    0
IntegerZero    ;   1         ;    0          ;    0          ;    1          ;    0          ;    0          ;    0          ;    0
FloatPositive  ;   0         ;    0          ;    0          ;    0          ;    1          ;    0          ;    0          ;    0
FloatNegative  ;   0         ;    0          ;    0          ;    0          ;    0          ;    1          ;    0          ;    0
Object         ;   0         ;    0          ;    0          ;    0          ;    0          ;    0          ;    1          ;    0
Array          ;   0         ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    1
</vht:expected>
<vht:crossProduct values="{values}" matrixMode="symmetric">
	<f:render partial="If/ConditionMatrix" arguments="{testVariables: testVariables, expectedResult: expectedResult, rowValue: rowValue, columnValue: columnValue, comparator: '=='}" />
</vht:crossProduct>

<h3>!= comparator</h3>
<vht:expected>
               ;StringLiteral  ;IntegerPositive;IntegerNegative;IntegerZero    ;FloatPositive  ;FloatNegative  ;Object         ;Array
StringLiteral  ;    0          ;    1          ;    1          ;    0          ;    1          ;    1          ;    1          ;    1
IntegerPositive;    1          ;    0          ;    1          ;    1          ;    1          ;    1          ;    1          ;    1
IntegerNegative;    1          ;    0          ;    0          ;    1          ;    1          ;    1          ;    1          ;    1
IntegerZero    ;    0          ;    0          ;    0          ;    0          ;    1          ;    1          ;    1          ;    1
FloatPositive  ;    1          ;    0          ;    0          ;    0          ;    0          ;    1          ;    1          ;    1
FloatNegative  ;    1          ;    0          ;    0          ;    0          ;    0          ;    0          ;    1          ;    1
Object         ;    1          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    1
Array          ;    1          ;    1          ;    1          ;    1          ;    1          ;    1          ;    1          ;    0
</vht:expected>
<vht:crossProduct values="{values}" matrixMode="symmetric">
	<f:render partial="If/ConditionMatrix" arguments="{testVariables: testVariables, expectedResult: expectedResult, rowValue: rowValue, columnValue: columnValue, comparator: '!='}" />
</vht:crossProduct>

<h3>% comparator</h3>
TODO: specify

<h3>&gt;= comparator</h3>
<vht:expected>
               ;StringLiteral  ;IntegerPositive;IntegerNegative;IntegerZero    ;FloatPositive  ;FloatNegative  ;Object         ;Array
StringLiteral  ;    1          ;    0          ;    1          ;    1          ;    0          ;    1          ;    0          ;    0
IntegerPositive;    1          ;    1          ;    1          ;    1          ;    0          ;    1          ;    0          ;    0
IntegerNegative;    0          ;    0          ;    1          ;    0          ;    0          ;    1          ;    0          ;    0
IntegerZero    ;    1          ;    0          ;    1          ;    1          ;    0          ;    1          ;    0          ;    0
FloatPositive  ;    1          ;    1          ;    1          ;    1          ;    1          ;    1          ;    0          ;    0
FloatNegative  ;    0          ;    0          ;    0          ;    0          ;    0          ;    1          ;    0          ;    0
Object         ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    1          ;    0
Array          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    1
</vht:expected>
<vht:crossProduct values="{values}">
	<f:render partial="If/ConditionMatrix" arguments="{testVariables: testVariables, expectedResult: expectedResult, rowValue: rowValue, columnValue: columnValue, comparator: '>='}" />
</vht:crossProduct>

<h3>&gt; comparator</h3>
<vht:expected>
               ;StringLiteral  ;IntegerPositive;IntegerNegative;IntegerZero    ;FloatPositive  ;FloatNegative  ;Object         ;Array
StringLiteral  ;    0          ;    0          ;    1          ;    0          ;    0          ;    1          ;    0          ;    0
IntegerPositive;    1          ;    0          ;    1          ;    1          ;    0          ;    1          ;    0          ;    0
IntegerNegative;    0          ;    0          ;    0          ;    0          ;    0          ;    1          ;    0          ;    0
IntegerZero    ;    0          ;    0          ;    1          ;    0          ;    0          ;    1          ;    0          ;    0
FloatPositive  ;    1          ;    1          ;    1          ;    1          ;    0          ;    1          ;    0          ;    0
FloatNegative  ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
Object         ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
Array          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
</vht:expected>
<vht:crossProduct values="{values}">
	<f:render partial="If/ConditionMatrix" arguments="{testVariables: testVariables, expectedResult: expectedResult, rowValue: rowValue, columnValue: columnValue, comparator: '>'}" />
</vht:crossProduct>

<h3>&lt;= comparator</h3>
<vht:expected>
               ;StringLiteral  ;IntegerPositive;IntegerNegative;IntegerZero    ;FloatPositive  ;FloatNegative  ;Object         ;Array
StringLiteral  ;    1          ;    1          ;    0          ;    1          ;    1          ;    0          ;    0          ;    0
IntegerPositive;    0          ;    1          ;    0          ;    0          ;    1          ;    0          ;    0          ;    0
IntegerNegative;    1          ;    1          ;    1          ;    1          ;    1          ;    0          ;    0          ;    0
IntegerZero    ;    1          ;    1          ;    0          ;    1          ;    1          ;    0          ;    0          ;    0
FloatPositive  ;    0          ;    0          ;    0          ;    0          ;    1          ;    0          ;    0          ;    0
FloatNegative  ;    1          ;    1          ;    1          ;    1          ;    1          ;    1          ;    0          ;    0
Object         ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    1          ;    0
Array          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    1
</vht:expected>
<vht:crossProduct values="{values}">
	<f:render partial="If/ConditionMatrix" arguments="{testVariables: testVariables, expectedResult: expectedResult, rowValue: rowValue, columnValue: columnValue, comparator: '<='}" />
</vht:crossProduct>

<h3>&lt; comparator</h3>
<vht:expected>
	           ;StringLiteral  ;IntegerPositive;IntegerNegative;IntegerZero    ;FloatPositive  ;FloatNegative  ;Object         ;Array
StringLiteral  ;    0          ;    1          ;    0          ;    0          ;    1          ;    0          ;    0          ;    0
IntegerPositive;    0          ;    0          ;    0          ;    0          ;    1          ;    0          ;    0          ;    0
IntegerNegative;    1          ;    1          ;    0          ;    1          ;    1          ;    0          ;    0          ;    0
IntegerZero    ;    0          ;    1          ;    0          ;    0          ;    1          ;    0          ;    0          ;    0
FloatPositive  ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
FloatNegative  ;    1          ;    1          ;    1          ;    1          ;    1          ;    0          ;    0          ;    0
Object         ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
Array          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0          ;    0
</vht:expected>
<vht:crossProduct values="{values}">
	<f:render partial="If/ConditionMatrix" arguments="{testVariables: testVariables, expectedResult: expectedResult, rowValue: rowValue, columnValue: columnValue, comparator: '<'}" />
</vht:crossProduct>


</f:alias>

<b>TODO: Formulate and throw exceptions at Invalid comparison strings (more than one comparator, ...)</b>

<vht:highlight expected="Else part!"><![CDATA[
	<f:if condition="-1 != -1">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
	</f:if>
]]></vht:highlight>


<vht:highlight expected="Else part!"><![CDATA[
	<f:if condition="{testVariables.number.minusOne} > -1">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
	</f:if>
]]></vht:highlight>

<vht:highlight expected="Else part!"><![CDATA[
	<f:if condition="{testVariables.number.one} < 1">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
	</f:if>
]]></vht:highlight>
<vht:highlight expected="Else part!"><![CDATA[
	<f:if condition="{testVariables.number.minusOne} < -1.1">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
	</f:if>
]]></vht:highlight>

<h2>If / Then / Else Logic</h2>

<h3>No then/else</h3>

<vht:highlight expected="Condition true!"><![CDATA[
	<f:if condition="true">
		Condition true!
	</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="false">
		Condition true!
	</f:if>
]]></vht:highlight>

<h3>then</h3>

<vht:highlight expected="Then part!"><![CDATA[
	<f:if condition="true">
		Some code which should not be shown, as there is a "then" part
		<f:then>
			Then part!
		</f:then>
	</f:if>
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	<f:if condition="false">
		Some code which should not be shown, as there is a "then" part
		<f:then>
			Then part!
		</f:then>
	</f:if>
]]></vht:highlight>

<h3>then/else</h3>

<vht:highlight expected="Then part!"><![CDATA[
	<f:if condition="true">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
		Some code which should not be shown!
	</f:if>
]]></vht:highlight>


<vht:highlight expected="Else part!"><![CDATA[
	<f:if condition="false">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
		Some code which should not be shown!
	</f:if>
]]></vht:highlight>

<h3>else</h3>

<vht:highlight expected=""><![CDATA[
	<f:if condition="true">
		<f:else>
			Else part!
		</f:else>
		Some code which should not be shown!
	</f:if>
]]></vht:highlight>

<vht:highlight expected="Else part!"><![CDATA[
	<f:if condition="false">
		<f:else>
			Else part!
		</f:else>
		Some code which should not be shown!
	</f:if>
]]></vht:highlight>

<h2>Inline Syntax Logic</h2>

<h3>No then/else</h3>

<vht:highlight expected=""><![CDATA[
	{f:if(condition: 'true')}
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	{f:if(condition: 'false')}
]]></vht:highlight>

<h3>Then</h3>

<vht:highlight expected="satisfied condition!"><![CDATA[
	{f:if(condition: 'true', then: 'satisfied condition!')}
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	{f:if(condition: 'false', then: 'satisfied condition!')}
]]></vht:highlight>

<h3>Then/else</h3>

<vht:highlight expected="satisfied condition!"><![CDATA[
	{f:if(condition: 'true', then: 'satisfied condition!', else: 'else part')}
]]></vht:highlight>

<vht:highlight expected="else part"><![CDATA[
	{f:if(condition: 'false', then: 'satisfied condition!', else: 'else part')}
]]></vht:highlight>

<h3>Else</h3>

<vht:highlight expected=""><![CDATA[
	{f:if(condition: 'true', else: 'else part')}
]]></vht:highlight>

<vht:highlight expected="else part"><![CDATA[
	{f:if(condition: 'false', else: 'else part')}
]]></vht:highlight>

<h2>Check overrides of then / else</h2>

Sub-ViewHelpers should be <b>overridden</b> by direct then/else arguments.

<vht:highlight expected="inline then"><![CDATA[
	<f:if condition="true" then="inline then" else="inline else">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
		Some code which should not be shown!
	</f:if>
]]></vht:highlight>

<vht:highlight expected="inline else"><![CDATA[
	<f:if condition="false" then="inline then" else="inline else">
		<f:then>
			Then part!
		</f:then>
		<f:else>
			Else part!
		</f:else>
		Some code which should not be shown!
	</f:if>
]]></vht:highlight>
