<h2><![CDATA[&lt;f:link.action action="someAction"&gt;action link&lt;/f:link.action&gt;]]></h2>
<f:link.action action="someAction">action link</f:link.action>

<h2><![CDATA[&lt;f:link.action action="someAction" controller="otherController" package="myPackage" subpackage="mySubpackage" arguments="{foo: 'bar', baz: 'test'}" additionalParams="{foo: 'bar', tx_myextension_myplugin: {action: 'overruled'}}"&gt;action link&lt;/f:link.action&gt;]]></h2>
<f:link.action action="someAction" controller="otherController" package="myPackage" subpackage="mySubpackage" arguments="{foo: 'bar', baz: 'test'}" additionalParams="{foo: 'bar', tx_myextension_myplugin: {action: 'overruled'}}">action link</f:link.action>