{namespace vht=TYPO3\Viewhelpertest\ViewHelpers}
<vht:highlight expected="You don't have access to the resource"><![CDATA[
	<f:security.ifAccess resource="Flow_Viewhelpertest_DeniedMethods">
		<f:then>You have access to the resource</f:then>
		<f:else>You don't have access to the resource</f:else>
	</f:security.ifAccess>
]]></vht:highlight>

<vht:highlight expected="You have access to the resource"><![CDATA[
	<f:security.ifAccess resource="Flow_Viewhelpertest_AllowedMethods">
		<f:then>You have access to the resource</f:then>
		<f:else>You don't have access to the resource</f:else>
	</f:security.ifAccess>
]]></vht:highlight>