{namespace vht=Flowpack\Viewhelpertest\ViewHelpers}
<vht:highlight expected="The user does not have this role"><![CDATA[
	<f:security.ifHasRole role="Flowpack.Viewhelpertest:TestRole2">
		<f:then>The user has this role</f:then>
		<f:else>The user does not have this role</f:else>
	</f:security.ifHasRole>
]]></vht:highlight>

<vht:highlight expected="The user has this role"><![CDATA[
	<f:security.ifHasRole role="Flowpack.Viewhelpertest:TestRole1">
		<f:then>The user has this role</f:then>
		<f:else>The user does not have this role</f:else>
	</f:security.ifHasRole>
]]></vht:highlight>

<vht:highlight expected="The user has this role"><![CDATA[
	<f:security.ifHasRole role="TestRole1">
		<f:then>The user has this role</f:then>
		<f:else>The user does not have this role</f:else>
	</f:security.ifHasRole>
]]></vht:highlight>

<vht:highlight expected="The user has this role"><![CDATA[
	<f:security.ifHasRole role="Flowpack.Viewhelpertest:TestRole2" account="{testVariables.account}">
		<f:then>The user has this role</f:then>
		<f:else>The user does not have this role</f:else>
	</f:security.ifHasRole>
]]></vht:highlight>

<vht:highlight expected="The user has this role"><![CDATA[
	<f:security.ifHasRole role="Flowpack.Viewhelpertest:TestRole1" account="{testVariables.account}">
		<f:then>The user has this role</f:then>
		<f:else>The user does not have this role</f:else>
	</f:security.ifHasRole>
]]></vht:highlight>

<div class="specification">If the account argument is specified but null the current account is assumed</div>
<vht:highlight expected="The user has this role"><![CDATA[
	<f:security.ifHasRole role="TestRole1" account="{testVariables.null}">
		<f:then>The user has this role</f:then>
		<f:else>The user does not have this role</f:else>
	</f:security.ifHasRole>
]]></vht:highlight>

<vht:highlight expected="The user has this role"><![CDATA[
	{f:security.ifHasRole(role: 'TestRole1', then: 'The user has this role')}
]]></vht:highlight>

<vht:highlight expected=""><![CDATA[
	{f:security.ifHasRole(role: 'TestRole2', then: 'The user has this role')}
]]></vht:highlight>
