{namespace vht=Flowpack\Viewhelpertest\ViewHelpers}
<vht:highlight expectedRegex="/^https?:\/\/.+\/_Resources\/(Testing\/)?Static\/Packages\/Flowpack.Viewhelpertest\/typo3_logo.png$/"><![CDATA[
	{f:uri.resource(path: 'typo3_logo.png')}
]]></vht:highlight>

<vht:highlight expectedRegex="/^https?:\/\/.+\/_Resources\/(Testing\/)?Static\/Packages\/Flowpack.Viewhelpertest\/NonExistingResource$/"><![CDATA[
	{f:uri.resource(path: 'NonExistingResource')}
]]></vht:highlight>

<vht:highlight expectedRegex="/^https?:\/\/.+\/_Resources\/(Testing\/)?Static\/Packages\/TYPO3.Flow\/foo$/"><![CDATA[
	{f:uri.resource(path: 'foo', package: 'TYPO3.Flow')}
]]></vht:highlight>