<h2><![CDATA[&lt;f:uri.action action="someAction" /&gt;]]></h2>
<f:uri.action action="someAction" />

<h2><![CDATA[&lt;f:uri.action action="someAction" controller="otherController" package="myPackage" subpackage="mySubpackage" arguments="{foo: 'bar', baz: 'test'}" additionalParams="{foo: 'bar', tx_myextension_myplugin: {action: 'overruled'}}" /&gt;]]></h2>
<f:uri.action action="someAction" controller="otherController" package="myPackage" subpackage="mySubpackage" arguments="{foo: 'bar', baz: 'test'}" additionalParams="{foo: 'bar', tx_myextension_myplugin: {action: 'overruled'}}" />