{namespace vht=F3\Viewhelpertest\ViewHelpers}
<vht:highlight expectedRegex="/^viewhelpertest\/standard\/someaction$/"><![CDATA[
	<f:uri.action action="someAction" />
]]></vht:highlight>

<vht:highlight expectedRegex="/^mypackage\/othercontroller\/someaction\?foo=bar&tx_myextension_myplugin%5Baction%5D=overruled&baz=test&%40subpackage=mysubpackage$/"><![CDATA[
	<f:uri.action action="someAction" controller="otherController" package="myPackage" subpackage="mySubpackage" arguments="{foo: 'bar', baz: 'test'}" additionalParams="{foo: 'bar', tx_myextension_myplugin: {action: 'overruled'}}" />
]]></vht:highlight>