{namespace vht=F3\Viewhelpertest\ViewHelpers}
<vht:highlight expectedRegex="/^https?:\/\/.+\/_Resources\/Static\/Packages\/Viewhelpertest\/typo3_logo.png$/"><![CDATA[
	{f:uri.resource(path:'typo3_logo.png')}
]]></vht:highlight>

<vht:highlight expectedRegex="/^https?:\/\/.+\/_Resources\/Static\/Packages\/Viewhelpertest\/NonExistingResource$/"><![CDATA[
	{f:uri.resource(path:'NonExistingResource')}
]]></vht:highlight>

<vht:highlight expectedRegex="/^https?:\/\/.+\/_Resources\/Static\/Packages\/NonExistingPackage\/foo$/"><![CDATA[
	{f:uri.resource(path: 'foo', package: 'NonExistingPackage')}
]]></vht:highlight>