/*******************************
 *      View Helper Tests      *
 *******************************/

.viewhelpertest {
	margin: 20px;
	padding: 0;
	color: #000;
	background: #fff;
	font: 11px arial;
}

/* Styling of ViewHelper name headline */
.viewhelpertest h1 {
	margin: 10px 0 0 0;
	padding: 5px 0 0 0;
	border-top: 5px dotted #ccc;
	font: 30px arial;
	font-weight: bold
}
.viewhelpertest h1 a {
	color: #000;
	text-decoration: none;
}
.viewhelpertest h1 a:hover {
	text-decoration: underline;
}

/* Styling of Sub-Headline (Testcase group) */
.viewhelpertest h2 {
	font-size: 20px;
	font-weight: bold;
}

.viewhelpertest h3 {
	font-size: 12px;
	font-weight: bold;
}
/* Testcase Rendering */
.viewhelpertest .testcase h3 {
}

.viewhelpertest .testcase h3 a {
	color: #ccc;
	font-size:60%;
}

.viewhelpertest .testcase .input {
	margin: 12px 0 5px 0;
	padding: 5px;
	border: 1px solid #ddd;
	color: #333;
	font-weight: normal;
	font: 11px monospace;
	overflow: auto;
	white-space: pre;
}

.viewhelpertest .failure {
	background: #df9d9d;
}
.viewhelpertest .failure .input {
	background: #dfb2b2;
}
.viewhelpertest .success {
	background: #d4ffc4;
}
.viewhelpertest .success .input {
	background: #dcffd0;
}

.viewhelpertest li.even {
	background: #eee;
}
.viewhelpertest hr {
	clear: both;
}

.viewhelpertest table.crossProduct td.success {
	background: #d4ffc4;
}

.viewhelpertest table.crossProduct td.failure {
	background: #df9d9d;
}
.viewhelpertest table.crossProduct .numberOfTests {
	font-size:60%;
	color: #333;
}

/*** forms ***/

.viewhelpertest label {
	display: block;
	float: left;
	font-weight: bold;
	width: 100px;
}

/*******************************
 *      Rendering Tests        *
 *******************************/
.renderTest .explanation div {
	float: left;
	height: 20px;
}
.renderTest .layout {
	background-color: #fff8c1;
	margin: 5px;
	padding: 5px;
}

.renderTest .content {
	background-color: #ffd070;
	margin: 5px;
	padding: 5px;
}
.renderTest .variableOutput {
	font-weight: bold;
}

.renderTest .variableOutput.expected-notEmpty {
	background-color:#00eb00;
}

.renderTest .variableOutput.expected-empty {
	background-color:#ff0000;
}

/*******************************
 *          Profiling          *
 *******************************/

.profilingBox {
	border: 1px solid #f0f0f0;
	width: 250px;
	height: 100px;
	overflow-y: scroll;
}