<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fluid - Viewhelpertest</title>
<f:base />
<link href="{f:uri.resource(path: 'styles.css')}" rel="stylesheet" type="text/css" />
{namespace ext=F3\ExtJS\ViewHelpers}
<ext:include/>
<script type="text/javascript" src="{f:uri.resource(path: 'javascript.js')}"></script>
</head>
<body>
<f:render section="content" />
</body>
</html>