<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fluid - Viewhelpertest</title>
<f:base />
<link href="{f:uri.resource(path: 'styles.css')}" rel="stylesheet" type="text/css" />
</head>
<body class="renderTest">
	<div class="explanation">
		<h1>Explanation</h1>
		<div class="layout">
			This part is defined in the layout.
		</div>
		<div class="content">
			This part is defined in the template.
		</div>

		<p><b><f:render section="explanation" /></b></p>
	</div>
	<hr />

	<div class="layout">
		<h3>Have fun with this example!</h3>
		<div class="content">
			<f:render section="content" />
		</div>
	</div>
</body>
</html>