{namespace vht=TYPO3\Viewhelpertest\ViewHelpers}
<f:if condition="{rowValue.literal -> vht:isset()}"><f:if condition="{columnValue.literal -> vht:isset()}">
	<vht:highlight expected="{expectedResult}"><![CDATA[
		<f:if condition="]]>{rowValue.literal} {comparator -> f:format.raw()} {columnValue.literal}<![CDATA[">
			<f:then>1</f:then>
			<f:else>0</f:else>
		</f:if>
	]]></vht:highlight>
</f:if></f:if>

<f:if condition="{rowValue.objectAccess -> vht:isset()}"><f:if condition="{columnValue.literal -> vht:isset()}">
<vht:highlight expected="{expectedResult}"><![CDATA[
	<f:if condition="]]><vht:curlyBrackets>{rowValue.objectAccess}</vht:curlyBrackets> {comparator -> f:format.raw()} {columnValue.literal}<![CDATA[">
		<f:then>1</f:then>
		<f:else>0</f:else>
	</f:if>
]]></vht:highlight>
</f:if></f:if>

<f:if condition="{rowValue.literal -> vht:isset()}"><f:if condition="{columnValue.objectAccess -> vht:isset()}">
<vht:highlight expected="{expectedResult}"><![CDATA[
	<f:if condition="]]>{rowValue.literal} {comparator -> f:format.raw()} <vht:curlyBrackets>{columnValue.objectAccess}</vht:curlyBrackets><![CDATA[">
		<f:then>1</f:then>
		<f:else>0</f:else>
	</f:if>
]]></vht:highlight>
</f:if></f:if>

<f:if condition="{rowValue.objectAccess -> vht:isset()}"><f:if condition="{columnValue.objectAccess -> vht:isset()}">
	<vht:highlight expected="{expectedResult}"><![CDATA[
		<f:if condition="]]><vht:curlyBrackets>{rowValue.objectAccess}</vht:curlyBrackets> {comparator -> f:format.raw()} <vht:curlyBrackets>{columnValue.objectAccess}</vht:curlyBrackets><![CDATA[">
			<f:then>1</f:then>
			<f:else>0</f:else>
		</f:if>
	]]></vht:highlight>
</f:if></f:if>