<p><b>This test checks that if one uses &lt;f:render section="..." /&gt; inside a template, all arguments need to be specified explicitely.</b></p>

<f:section name="mySection">
	The name of the original variable is not available: <span id="original" class="variableOutput">{variable}</span><br />
	We passed the variable into the partial as "renamedVariable", so when we output this, it is available: <span id="renamed" class="variableOutput">{renamedVariable}</span>
</f:section>

<f:render section="mySection" arguments="{renamedVariable: variable}" />

<p>Inside the main template, the variable is still accessible with the original name: <span id="variableInOriginalTemplate" class="variableOutput">{variable}</span></p>