<h1>form</h1>
<f:form />
<f:form name="foo" action="foo" id="bar" method="GET">
	<f:form.select value="{selected}" name="mySelect" options="{array}" multiple="multiple" size="5"><select><option>###dummy###</option></select></f:form.select>
	<h2>form.select</h2>
	<f:form.select value="2" name="mySelect2" options="{users}" optionValueField="id" optionLabelField="lastName"><select><option>###dummy###</option></select></f:form.select>
	<hr />
	<f:form.select value="{0:1, 1:3}" name="mySelect3" options="{users}" multiple="multiple" size="5" optionValueField="id" optionLabelField="firstName"><select><option>###dummy###</option></select></f:form.select>
	<h2>form.textarea</h2>
	<f:form.textarea value="{text}" name="myTextArea" rows="5" cols="10"><textarea>###dummy###</textarea></f:form.textarea>
	<hr />
	<f:form.textarea value="Some 'Test'" rows="5" cols="10" />
	<h2>form.textbox</h2>
	<f:form.textbox value="other value" name="myTextBox"><input type="text" value="###dummy###" /></f:form.textbox>
	<h2>form.submit</h2>
	<f:form.submit name="myName" value="myValue"><button>###dummy###</button></f:form.submit>
	<h2>form.upload</h2>
	<f:form.upload name="myName"><input type="file" /></f:form.upload>
	<h2>form.hidden</h2>
	<f:form.hidden name="hiddenName" value="hiddenValue">HIDDEN</f:form.hidden>
	<h2>form.submit</h2>
	<f:form.submit value="submit form" />
</f:form>
<h1>format.date</h1>
1 <f:format.date>{date}</f:format.date>
<hr />
2 <f:format.date format="H:i">{date}</f:format.date>
<hr />
3 <f:format.date format="d.m.Y - H:i:s">+1 week 2 days 4 hours 2 seconds</f:format.date>
<hr />
4 <f:format.date>foo</f:format.date>
<h1>format.htmlEscape</h1>
<f:format.htmlEscape><p>This will be <em>escaped</em></p></f:format.htmlEscape>
<h1>format.number</h1>
<f:format.number decimals="3" decimalSeparator="," thousandsSeparator=".">423423.234</f:format.number>
<h1>format.printf</h1>
<f:format.printf arguments="{number : 362525200}">%.3e</f:format.printf>
<hr />
<f:format.printf arguments="{0: 3,1: 'Kasper'}">%2$s is great, TYPO%1$d too. Yes, TYPO%1$d is great and so is %2$s!</f:format.printf>
<hr />
<f:format.printf arguments="{1:'TYPO3'}">We love %1$s</f:format.printf>
<h1>format.currency</h1>
<f:format.currency currencySign="$" decimalSeparator="." thousandsSeparator=",">54321</f:format.currency>
<h1>format.crop</h1>
<f:format.crop maxCharacters="10">This is some very long text</f:format.crop>
<hr />
<f:format.crop maxCharacters="17" append="&nbsp;[more]">This is some very long text</f:format.crop>
<hr />
<![CDATA[<f:format.crop maxCharacters="10" respectWordBoundaries="false">This is some very long text</f:format.crop>]]>
<h1>for</h1>
<f:for each="{0:1, 1:2, 2:3, 3:4}" as="foo">{foo}</f:for>
<hr />
<ul>
	<f:for each="{fruit1: 'apple', fruit2: 'pear', fruit3: 'banana', fruit4: 'cherry'}" as="fruit" key="label">
		<li>{label}: {fruit}</li>
	</f:for>
</ul>
<h1>if ("true")</h1>
<f:if condition="true">satisfied condition!</f:if>
<h1>if ("FALSE")</h1>
<f:if condition="FALSE">should not be displayed!!</f:if>
<h1>if ("false")</h1>
<f:if condition="false">
	<f:then>
		Then part!
	</f:then>
	<f:else>
		Else part!
	</f:else>
</f:if>
<h1>if <![CDATA[{user2}]]></h1>
<f:if condition="{user2}">
	<f:then>
		Then part!
	</f:then>
	<f:else>
		Else part!
	</f:else>
</f:if>
<h1>uri</h1>
<h2>uri.external</h2>
<f:uri.external uri="http://www.typo3.org" />
<h2>uri.email</h2>
<f:uri.email email="foo@bar.com" />
<![CDATA[
<h2>uri.page <em>not available in FLOW3</em></h2>
<f:uri.page pageUid="1" additionalParams="{foo: 'bar'}" pageType="2" noCache="true" />
<br />
<f:uri.page pageUid="1" additionalParams="{foo: 'bar'}" pageType="2" section="anchor" />
<br />
<f:uri.page pageUid="5" linkAccessRestrictedPages="true" />
]]>
<h2>uri.action</h2>
<f:uri.action action="someAction" />
<br />
<f:uri.action action="someAction" controller="otherController" package="myPackage" subpackage="mySubpackage" arguments="{foo: 'bar', baz: 'test'}" />
<h1>link</h1>
<h2>link.external</h2>
<f:link.external uri="http://www.typo3.org" target="_blank" style="background: red">external link</f:link.external>
<h2>link.email</h2>
<f:link.email email="foo@bar.com" />
<![CDATA[
<h2>link.page <em>not available in FLOW3</em></h2>
<f:link.page pageUid="1" additionalParams="{foo: 'bar'}" pageType="2" noCache="true">page link</f:link.page>
<br />
<f:link.page pageUid="1" additionalParams="{foo: 'bar'}" pageType="2" section="anchor">page link</f:link.page>
<br />
<f:link.page pageUid="5" linkAccessRestrictedPages="true">page link</f:link.page>
]]>
<h2>link.action</h2>
<f:link.action action="someAction">action link</f:link.action>
<br />
<f:link.action action="someAction" controller="otherController" package="myPackage" subpackage="mySubpackage" arguments="{foo: 'bar', baz: 'test'}">action link</f:link.action>
<![CDATA[
<h1>html <em>not available in FLOW3</em></h1>
<f:format.html>foo <b>bar</b>. Some <LINK 1>link</LINK>.</f:format.html>
<hr />
<f:format.html parseFuncTSPath="lib.viewhelpertest.customParseFunc">foo <b>bar</b>. Some <LINK 1>link</LINK>.</f:format.html>
]]>
<![CDATA[
<h1>translate <em>not available in FLOW3</em></h1>
<f:translate key="key1">translate me1</f:translate>
<hr />
<f:translate key="key2">translate me2</f:translate>
<hr />
<f:translate key="key3">translate me3</f:translate>
]]>
<![CDATA[
<h1>cObject <em>not available in FLOW3</em></h1>
1 <f:cObject typoscriptObjectPath="lib.viewhelpertest.header">Hello World!</f:cObject>
<hr />
2 <f:cObject typoscriptObjectPath="lib.viewhelpertest.header">{key1: 'value1', foo: 'value2'}</f:cObject>
<hr />
3 <f:cObject typoscriptObjectPath="lib.viewhelpertest.header" currentValueKey="key1">{key1: 'value1', foo: 'value2'}</f:cObject>
<hr />
4 <f:cObject typoscriptObjectPath="lib.viewhelpertest.header" currentValueKey="firstName">{user1}</f:cObject>
<hr />
5 <f:cObject typoscriptObjectPath="lib.viewhelpertest.header">{user1} <f:link.page>typolink</f:link.page> {user3}</f:cObject>
]]>
<![CDATA[
<h1>debug <em>not available in FLOW3</em></h1>
<f:debug title="some array">{array}</f:debug>
]]>
<![CDATA[
<h1>image <em>not available in FLOW3</em></h1>
<f:image src="EXT:viewhelpertest/Resources/Public/typo3_logo.png" alt="alt text" width="100m" />
]]>