<f:layout name="default" />
<f:section name="content">
	<div class="viewhelpertest">
		<f:if condition="{selectedPartials}">
			<f:for each="{selectedPartials}" as="partial">
				<div id="f-fluid-{partial}">
					<h1><f:link.action action="index" arguments="{selectedPartial: partial}">{partial}</f:link.action></h1>
					<f:render partial="{partial}" arguments="{settings: settings, testVariables: testVariables}" />
				</div>
			</f:for>
			<hr />
		</f:if>
		<p id="results"></p>
		<h1>ViewHelpers</h1>
		<ul>
			<f:for each="{allowedPartials}" as="partial">
				<li>
					<f:link.action action="index" arguments="{selectedPartial: partial}">{partial}</f:link.action>
				</li>
			</f:for>
			<li>
				<hr />
			</li>
			<li>
				<f:link.action action="index" arguments="{selectedPartial: 'all'}"><em>show all</em></f:link.action>
			</li>
		</ul>
		<h1>Additional Fluid features</h1>
		<ul>
			<li>Testing &lt;f:render /&gt;
				<ul>
					<li><f:link.action action="index" controller="Render" action="optionalSections">you can render optional sections</f:link.action></li>
					<li><f:link.action action="index" controller="Render" action="renderSectionInLayoutUsesTemplateVariables">Rendering sections in a layout uses template the defined sections and variables in the template</f:link.action></li>
					<li><f:link.action action="index" controller="Render" action="renderSectionInPartialNeedsArgumentsExplicitely">Rendering sections in a partial needs the arguments explicitely set</f:link.action></li>
					<li><f:link.action action="index" controller="Render" action="renderPartialNeedsArgumentsExplicitely">Rendering a partial needs the arguments explicitely set</f:link.action></li>
					<li><f:link.action action="index" controller="Render" action="renderSectionInsideTemplateNeedsArgumentsExplicitely">Rendering a section inside the template needs the arguments explicitely set</f:link.action></li>
					<li><f:link.action action="index" controller="Render" action="renderSectionInsidePartialNeedsArgumentsExplicitely">Rendering a section inside the partial needs the arguments explicitely set</f:link.action></li>
					<li><f:link.action action="index" controller="Render" action="recursiveSections">Recursive section rendering works</f:link.action></li>
				</ul>
			</li>
		</ul>
		<h1>Manual Testing</h1>
		<ul>
			<li><f:link.action controller="Widget" action="setup" arguments="{redirectAction: 'ajaxWidgetContextReset'}">Widgets: AJAX widget context is reset correctly</f:link.action></li>
			<li><f:link.action controller="Widget" action="setup" arguments="{redirectAction: 'paginateWidget'}">Widgets: pagination works correctly</f:link.action></li>
			<li><f:link.action controller="Widget" action="redirect">Widgets: redirect</f:link.action></li>
			<li><f:link.action controller="Form" action="setup" arguments="{redirectAction: 'identityProperties'}">Forms: hidden identity fields</f:link.action></li>
			<li><f:link.action controller="Form" action="setup" arguments="{redirectAction: 'nestedForms'}">Forms: validation for nested objects</f:link.action></li>
			<li><f:link.action controller="Form" action="setup" arguments="{redirectAction: 'defaultValues'}">Forms: default values</f:link.action></li>
		</ul>
	</div>
</f:section>