<f:layout name="default" />
<f:section name="content">
	<div class="viewhelpertest">
		<f:render partial="alias" arguments="{user1: user1, user2: user2}" />
		<f:render partial="base" />
		<h1><del title="not supported by FLOW3">cObject</del></h1>
		<f:render partial="cycle" arguments="{fruits: fruits}" />
		<h1><del title="not supported by FLOW3">debug</del></h1>
		<f:render partial="flashMessages" />
		<f:render partial="for" />
		<f:render partial="form" arguments="{array: array, users: users, userDomainObject: userDomainObject}" />
		<f:render partial="format.crop" />
		<f:render partial="format.currency" />
		<f:render partial="format.date" arguments="{date: date}" />
		<f:render partial="format.number" />
		<f:render partial="format.printf" />
		<f:render partial="groupedFor" arguments="{fruits: fruits}" />
		<h1><del title="not supported by FLOW3">html</del></h1>
		<f:render partial="if" arguments="{user2: user2}" />
		<h1><del title="not supported by FLOW3">image</del></h1>
		<f:render partial="link.action" />
		<f:render partial="link.email" />
		<h1><del title="not supported by FLOW3">link.page</del></h1>
		<h1><del title="not supported by FLOW3">translate</del></h1>
		<f:render partial="uri.action" />
		<f:render partial="uri.email" />
		<f:render partial="uri.external" />
		<f:render partial="uri.resource" />
	</div>
</f:section>