<f:layout name="Default" />
<f:section name="content">
	<div class="viewhelpertest">
		<form action="{f:uri.action(action: 'profile')}" method="get">
			<ol>
				<li>
					<label>Optimization Identifier</label>
					<f:form.textfield name="setup[optimizationIdentifier]" value="{setup.optimizationIdentifier}" />
				</li>
				<li>&nbsp;</li>
				<li>
					<label>Use Layout</label>
					<f:form.checkbox name="setup[layout]" value="1" checked="{setup.layout}" />
				</li>
				<li>
					<label>Nr of Objects</label>
					<f:form.textfield name="setup[objects]" value="{setup.objects}" />
				</li>
				<li>
					<label>Nr of Arrays</label>
					<f:form.textfield name="setup[arrays]" value="{setup.arrays}" />
				</li>
				<li>
					<label>Forms</label>
					<f:form.textfield name="setup[forms]" value="{setup.forms}" />
				</li>
				<li>
					<label>Nesting levels</label>
					<f:form.textfield name="setup[nestingLevels]" value="{setup.nestingLevels}" />
				</li>
				<li>
					<label>Nr of Partials</label>
					<f:form.textfield name="setup[partials]" value="{setup.partials}" />
				</li>
				<li>
					<label>Nr of Sections</label>
					<f:form.textfield name="setup[sections]" value="{setup.sections}" />
				</li>
				<li>&nbsp;</li>
				<li>
					<f:form.submit value="start profiling" />
				</li>
			</ol>
		</form>
	</div>
</f:section>