<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fluid - Viewhelpertest</title>

<f:base />
<link href="{f:uri.resource(path: 'styles.css')}" rel="stylesheet" type="text/css" />

</head>
<body>
	<h1>Rendering time: ###RENDERING_TIME###</h1>

	<f:if condition="{setup.objects}">
		<h2>Objects ({setup.objects})</h2>
		<div class="profilingBox">
			<f:for each="{profilingData.objects.users}" as="user">
				{user.firstName} {user.lastName}<br />
			</f:for>
		</div>
	</f:if>

	<f:if condition="{setup.arrays}">
		<h2>Arrays ({setup.arrays})</h2>
		<div class="profilingBox">
			<f:for each="{profilingData.arrays.names}" as="name">
				{name}<br />
			</f:for>
		</div>
	</f:if>

	<f:if condition="{setup.forms}">
		<h2>Forms ({setup.forms})</h2>
		<div class="profilingBox">
			<f:for each="{profilingData.forms.users}" as="user">
				<f:form action="profile" object="{user}" objectName="user">
					<f:form.checkbox property="newsletter" value="1" /><br />
					<f:form.hidden property="firstName" /><br />
					<f:form.password property="lastName" /><br />
					<f:form.radio property="newsletter" value="1" /><br />
					<f:form.select property="interests" options="{interest1: 'interest 01', interest2: 'interest 02'}" /><br />
					<f:form.textarea property="firstName" rows="2" cols="5" /><br />
					<f:form.textfield property="firstName" /><br />
					<f:form.submit value="submit" /><br />
				</f:form>
			</f:for>
		</div>
	</f:if>

	<f:if condition="{setup.nestingLevels}">
		<h2>Nesting Levels ({setup.nestingLevels})</h2>
		<div class="profilingBox">
			<f:section name="person">
				{person.name}<br />
				<f:if condition="{person.children}">
					<f:render section="person" arguments="{person: person.children}" />
				</f:if>
			</f:section>
			<f:render section="person" arguments="{person: profilingData.nestingLevels.person}" />
		</div>
	</f:if>

	<f:if condition="{setup.partials}">
		<h2>Partials ({setup.partials})</h2>
		<div class="profilingBox">
			<f:for each="{profilingData.partials}" as="partialData">
				<f:render partial="Performance/Dummy" arguments="{data: partialData}" />
			</f:for>
		</div>
	</f:if>

</body>
</html>